$purplecolor:#A445ED;
:root {
    --primary-color: rgb(255, 92, 92);
    --fontfamily: sans-serif;
  }
  
  [data-themeone="serif"] {
    --fontfamily:serif;
  }

  [data-themetwo="Mono"] {
    --fontfamily:Mono;
  }
  [data-themethree="sans-serif"] {
    --fontfamily:sans-serif;
  }
body{
    font-family: var(--fontfamily);
}
.top{
    margin: 15px;
}
.top span select{
    border-style: none;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 7px;
    
}


//////mode////////////
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 15px;
  
  
   span {
    margin-right: 10px;
    font-size: 1rem;
  }
}
  
  .toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    color: var(--on-background);
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  
  
  .theme-switch input {
    display: none;
  }
}
  .slider {
    background: rgb(204, 204, 204);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #047cfc;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background: var(--primary-color);
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .fas {
    font-size: 20px;
    margin-right: 5px;
  }
/////////////////////////////

  .searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
      border-radius: 30px;
    background-color: #E9E9E9;

    input {
        border: none;
        outline: none;
        background-color: #E9E9E9;
        width: 85%;
        height: 40px;
        font-size: larger;
        font-weight: bold;
      
    }
    
}


.displaysearcheditems {
    margin-top: 10px;
    h1{
    display: inline;
    margin-left: 4%;
   
}

span{
    margin-left: 90%;
    margin-bottom: 50px;
    // background-color: #047cfc;
   
}
}

section{
   
    ul {
        margin-right: 20%;
        font-size: smaller;
       
        }

    h2{
        font-size: medium;
    }
        
    h4{
        font-size: small;
        font-weight: lighter;
        color: rgba(128, 128, 128, 0.922);
    }    
  
}
.synonyms{
    color: $purplecolor;
   // background-color: $purplecolor;
}
p{
    font-weight:200;
    color: grey;

    span{
        font-size: small;
        color:black;
       
    }
}

.phonetics{
    h3{
        color: $purplecolor;
    }
}