:root {
  --primary-background_color: #FFFFFF;
  --primary-fonts_color: #050505;
  --fontfamily:sans-serif;
  --searchbar_color: rgba(255, 255, 0, 0.96);
}

[switch-searchbarcolor=dark] {
  --searchbar_color: #2d2d2d;
}

[switch-fonts=serif] {
  --fontfamily:serif;
}

[switch-fonts=Mono] {
  --fontfamily:Monospace;
}

[switch-fonts=sans-serif] {
  --fontfamily:sans-serif;
}

[mode-dark=dark] {
  --primary-color_background: #050505;
  --primary-fonts_color: #FFFFFF;
}

body {
  font-family: var(--fontfamily);
  background-color: var(--primary-color_background);
  color: var(--primary-fonts_color);
}

.top {
  margin-top: 5%;
}

.top span select {
  border-style: none;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 7px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin-left: 70%;
  margin-top: -25px;
}
.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 45px;
}
.theme-switch .theme-switch input {
  display: none;
}

.slider {
  background: rgb(204, 204, 204);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #FFFFFF;
  bottom: 4px;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 15px;
}

input:checked + .slider {
  background: #A445ED;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 20px;
  margin-right: 5px;
}

.fa-magnifying-glass, .fa-play {
  color: #57118d;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 30px;
  background-color: var(--searchbar_color);
}
.searchbar input {
  border: none;
  outline: none;
  background-color: var(--searchbar_color);
  color: var(--primary-fonts_color);
  width: 85%;
  height: 40px;
  font-size: larger;
  font-weight: bold;
}

.displaysearcheditems {
  margin-top: 10px;
}
.displaysearcheditems h1 {
  display: inline;
  margin-left: 4%;
}
.displaysearcheditems .fa-play {
  margin-left: 90%;
}
.displaysearcheditems span {
  margin-left: 90%;
  margin-bottom: 50px;
  background-color: #57118d;
}

section ul {
  margin-right: 20%;
  font-size: smaller;
}
section h2 {
  font-size: medium;
}
section h4 {
  font-size: small;
  font-weight: lighter;
  color: rgba(128, 128, 128, 0.922);
}

.synonyms {
  color: #A445ED;
}

p {
  font-weight: 200;
  color: grey;
}
p span {
  font-size: small;
  color: black;
}
p span .fa-play {
  margin-left: 90%;
}

.phonetics h3 {
  color: #A445ED;
}

select {
  outline: none;
  background-color: var(--primary-color_background);
  color: var(--primary-fonts_color);
}

.sourcelink {
  color: var(--primary-fonts_color);
}/*# sourceMappingURL=style.css.map */