$purplecolor:#A445ED;
:root {
    --primary-background_color: #FFFFFF;
    --primary-fonts_color: #050505;
    --fontfamily:sans-serif;
    --searchbar_color: #a5a6b7;
    //rgba(128, 128, 128, 0.922);

  }
  [switch-searchbarcolor="dark"] {
    --searchbar_color: #2d2d2d;
  }
  [switch-fonts="serif"] {
    --fontfamily:serif;
  }

  [switch-fonts="Mono"] {
    --fontfamily:Monospace;
  }
  [switch-fonts="sans-serif"] {
    --fontfamily:sans-serif;
  }

  [mode-dark="dark"] {
    --primary-color_background: #050505;
    --primary-fonts_color: #FFFFFF;
  }

body{
    font-family: var(--fontfamily);
    background-color:var(--primary-color_background) ;
    color: var(--primary-fonts_color);
}
.top{
    //margin: 15px;
    margin-top:5%;
   .fa-book{
    margin: 5px;
   }
}
.top span select{
    border-style: none;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 17px;
    
}


//////mode////////////
///
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left: 260px;
    margin-top: -25px;
  
    // .fa-moon{
    //     //margin-top: 80%;
    // }
   span {
    margin-right: 10px;
    font-size: 1rem;
  }
}
  
  .toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    color: var(--on-background);
  }
  
  .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 45px;
  
  
  .theme-switch input {
    display: none;
  }
}
  .slider {
    background: rgb(204, 204, 204);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #FFFFFF;
    bottom: 4px;
    content: "";
    height: 15px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 15px;
  }
  
  input:checked + .slider {
    background: #A445ED;
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  
/////////////////////////////

.fa-magnifying-glass, .fa-play{
    color:  #57118d;
}
  .searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
      border-radius: 30px;
    background-color:var(--searchbar_color);
    width: 400px;
    input {
        border: none;
        outline: none;
        background-color: var( --searchbar_color);
        color: var(--primary-fonts_color);
        width: 340px;
       // background-color: #57118d;
        height: 40px;
        font-size: larger;
        font-weight: bold;
      
    }
    
}
///displaysearcheditems//

.displaysearcheditems {
    margin-top: 10px;
    h1{
    display: inline;
    margin-left: 4%;
   
}
.fa-play{
    margin-left: 360px;
}
span{
    margin-left: 90%;
    margin-bottom: 50px;
   background-color: #57118d;
}
}
//  section//
section{
    
  // height: 30vh;
    ul {
        margin-right: 20%;
        font-size: smaller;
        }

    h2{
        font-size: medium;
    }
        
    h4{
        font-size: small;
        font-weight: lighter;
        color: rgba(128, 128, 128, 0.922);
    }    
  
}
.synonyms{
    color: $purplecolor;
   // background-color: $purplecolor;
}
p{
    font-weight:200;
    color: grey;

    span{
        .fa-play{
            margin-left: 90%;
        }
        font-size: small;
        color:black;
       
    }
}

.phonetics{
    h3{
        color: $purplecolor;
    }
}
select{
    outline: none;
    background-color:var( --primary-color_background);
    color:var(--primary-fonts_color);
}

.sourcelink{
    color: var(--primary-fonts_color);
}

.fa-moon{
    font-size: 20px;
    margin-left: 10px;
  }


@media screen and (min-width:850px)
{
   body{
    font-size: larger;
   }
    .container{
      margin-left: 500px;
    }
   
}  


@media screen and (min-width:400px)
{
   
    .container{
      //margin-left: 500px;
    }
   
}  